<thead>
    <tr>
      <th>Name</th>
      <th>Surname</th>
      <th>Average score</th>
      <th>Group number</th>
      <th>Group name</th>
      <th>E-mail</th>
    </tr>
</thead>

<tbody>
{{#.}}
    <tr>
        <td>{{students_name}}</td>
        <td>{{students_surname}}</td>
        <td>{{average_ratings}}</td>
        <td>{{groups_semester}}</td>
        <td>{{groups_name}}</td>
        <td>{{students_email}}</td>
    </tr>
{{/.}}
</tbody>
